
<!-- Toolbar -->
<div class="toolbar" role="banner">
  <span>Welcome</span>
    <div class="spacer"></div>
</div>

<div class="content" role="main">




<div class="container">
  <div class="row">
    <div class="col-sm">
      <ul>List of APIs
      <li><a>Get transactions</a></li>
      </ul>

    </div>
    <div class="col-sm">
     This Get all the list of current transactions of the provided user
    </div>
    <div class="col-sm">
      <div class="column" style="overflow:scroll; height:600px;width:600px; background-color:#888">
    <code class="code-container" >
    <pre style="background-color:#888 ;font-style: italic;color:white" >{{transactions | json}}</pre>
    </code>
  </div>
    </div>
  </div>
</div>

  <!-- Footer -->
  <footer>
      Love APIs?&nbsp;
      <a href="https://www.pave.dev/" target="_blank" rel="noopener"> Pave.dev.
      </a>

  </footer>



</div>


